.App {
  font-size: 14px;
}

/* SET CODE */

.padding-10px {
  padding: 10px;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-start-center {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* END SET CODE */

.side-bar {
  width: 200px;
  background-color: blue;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
}

.header {
  width: 100%;
  height: 100px;
  background-color: pink;
}

.body {
  height: 1000px;
  bottom: 100px;
  width: 100%;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  color: white;
}

.stories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 75px);
  overflow-x: scroll;
  white-space: nowrap;
}

.user-story {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1200px) {

  .side-bar {
    width: 75px;
  }

  .main-content {
    width: calc(100% - 75px);
    left: 75px;
  }
}

@media screen and (max-width: 700px) {

  .side-bar {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    top: initial;
    z-index: 2;
    flex-direction: row;
  }

  .main-content {
    width: 100%;
    left: 0;
  }

  .footer {
    margin-bottom: 50px;
  }
}
